<% include ../partials/header %>
    <div class="row">
      <h1 style="text-align: center;"> Add a new dog friendly place!</h1>
      <div style="width: 45%; margin: 25px auto; text-align: center;">
        <form action="/places" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" placeholder="Place Name" name="name" required>
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" name="location" id="autocomplete" placeholder="Address.." required>
          </div>
          <div class="form-group">
            <label for="cost">Cost</label>
            <input class="form-control" type="number" placeholder="Avg. Price/Person" min="0.01" step="0.01" name="price">
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/*" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" placeholder="Description" cols="40" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
          </div>
        </form>
        <a href="/places">Back to all dog friendly places</a><br><br>
      </div>
    </div>
    <br><br>
    <script>
      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input);
    </script>
  <% include ../partials/footer %>
